@import "rootStyle.css";

html, body{
    height: 100%;
}

/* Navigtion Bar */

.cc-navbar{
    color: var(--primary-color) !important;
}

.active{
    text-decoration: underline;
}

.cc-nav-logo{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color)!important;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link{
    color: var(--primary-color) !important;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3px;
    margin-right: 1.8rem;
}

.navbar-light .navbar-toggler {
    border: none;
}

/* Main Container */

.cc-ill{
    text-align: center;
}
.cc-ill-img{
    width: 80%;
}

.cc-place-btn{
    
}

@media only screen and (max-width : 1200px){
    .nav-link{
        margin-right: 1rem;
    }
}
@media only screen and (max-width : 1050px){
    .nav-link{
        margin-right: 0;
    }
}