@import "rootStyle.css";

html, body{
    height: 100%;
}

/* Navigtion Bar */

.cc-navbar{
    color: var(--primary-color) !important;
}

.active{
    text-decoration: underline;
}

.cc-nav-logo{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color)!important;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link{
    color: var(--primary-color) !important;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3px;
}

.navbar-light .navbar-toggler {
    border: none;
}

/* Main Container */

.cc-illustration{
    text-align: center;
}