@import "rootStyle.css";

::placeholder {
  color: var(--primary-color);
  font-weight: 100;
  opacity: 82%;
}

.cc-lc-head {
  border: 2px solid var(--primary-color);
}

.cc-lc {
  width: 50%;
}

/* Active Login / Create  */
.cc-lc-active {
  background-color: var(--primary-color);
  color: white !important;
  transition: all 500ms;
}

#loginHead,
#createHead {
  cursor: pointer;
}

/* Inputs */

.cc-lc-inp {
  outline: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color) !important;
}
.cc-submit {
  background-color: var(--primary-color);
  width: 30%;
}
.cc-reset {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  width: 30%;
}
.cc-reset:hover {
  color: white !important;
  background-color: var(--primary-color) !important;
}

.cc-rth {
  background-color: var(--primary-color);
  padding: 5px 100px;
  width: 9rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.cc-logout {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  width: 9rem;
  font-weight: 500;
  font-size: 0.8rem;
}
.cc-logout:hover {
    color: white !important;
    background-color: var(--primary-color) !important;
}

.cc-mes-save{
  width: 5rem;
}



.cc-mes-label{
  min-width: 50%;
  /* line-height: 1; */
}

.cc-mes-inp{
  width: 3rem;
  outline: none;
  border: none;
  border-bottom: 1.5px solid var(--primary-color);
  margin: 2px;
}

.cc-w-50{
  width: 50%;
}