:root{
    --primary-color : #0381FF;
    --secondary-color : #D3E9FF;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}


html,
body {
  height: 100%;
}