:root{
    --primary-color : #0381FF;
    --secondary-color : #D3E9FF;
}
::-webkit-scrollbar {
  display: none;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}


html,
body {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}